.header{
    display: flex;
    justify-content: center;
}
.body{
    background-color: rgba(0, 0, 0, 0.958);
    color: rgba(255, 255, 255, 0.921);
    font-family: 'Courier New', Courier, monospace;
    font: bold;
}
.enter{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.addedTask{
    display: flex;
    margin-left: 45%;
    gap: 10px;
    font: bold;
}

